# node modules
node_modules
client/node_modules
server/node_modules

# env files
.env
client/.env
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs

# build
client/dist
server/dist

# OS
.DS_Store
Thumbs.db
